<div class="row col-md-8 col-md-offset-2">
    <h1>
        <%= @chatroom.topic %>
    </h1>

    <div class="panel panel-default">
        <% if @chatroom.messages.any? %>
            <div class="panel-body" id="messages">
                <%= render partial: 'messages/message', collection: @chatroom.messages%>
            </div>
            <%else%>
                <div class="panel-body hidden" id="messages">
                </div>
                <%end%>
    </div>

    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
</div>